*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Open Sans", sans-serif;
}
h2{
    border-bottom: 1px solid #fff;
    margin: 5px auto;
}
.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
.col-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #163853;
    color:#fff;
}
.col-left img{
    width: 250px;
    height:250px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 40px auto;
}
.contact-box,.education-box,.skill-box,.language-box{
    line-height: 30px;
    margin-top: 20px;
}
.col-right{
    margin: 0 5%;
}
.col-right h2{
    color:#163853;
}
.col-right h1{
    margin-top:80px;
}
.last-name{
    font-family: "Inter",sans serif;
    font-size: 3rem;
    font-weight: bold;
    color:#515151;
}
.first-name{
    font-family: "Inter",sans serif;
    font-size: 3rem;
    font-weight: 300;
    color: #1D3A4D;
}
.Work{
    margin-bottom: 100px;
}
.profile-box{
    margin-bottom: 20px;
}
.profile-box h2{
    border-bottom: 3px solid #163146;
    margin-bottom: 20px;
}
.work-ex{
    margin-bottom: 20px;
}
.work-ex h2{
    border-bottom: 3px solid #163146;
}
.work-ct{
    margin-left: 30px;
}
.work-title::marker{
    margin-left: 0;
    font-size: 2em;
}
.reference-box h2{
    border-bottom: 3px solid #163146;
}
